TestSyncer
TestSyncer/Program.cs
TestSyncer/bin/Debug/net7.0/SyncerLogic.dll
TestSyncer/bin/Debug/net7.0/SyncerLogic.pdb
TestSyncer/bin/Debug/net7.0/TestSyncer.dll
TestSyncer/bin/Debug/net7.0/TestSyncer.pdb
TestSyncer/obj/project.assets.json
TestSyncer/obj/project.nuget.cache
TestSyncer/obj/TestSyncer.csproj.nuget.dgspec.json
TestSyncer/obj/Debug/net7.0/TestSyncer.csproj.AssemblyReference.cache
TestSyncer/obj/Debug/net7.0/TestSyncer.dll
TestSyncer/obj/Debug/net7.0/TestSyncer.pdb
TestSyncer/Program.cs
TestSyncer/bin/Debug/net7.0/SyncerLogic.dll
TestSyncer/bin/Debug/net7.0/SyncerLogic.pdb
TestSyncer/bin/Debug/net7.0/TestSyncer.dll
TestSyncer/bin/Debug/net7.0/TestSyncer.pdb
TestSyncer/obj/project.assets.json
TestSyncer/obj/project.nuget.cache
TestSyncer/obj/TestSyncer.csproj.nuget.dgspec.json
TestSyncer/obj/Debug/net7.0/TestSyncer.csproj.AssemblyReference.cache
TestSyncer/obj/Debug/net7.0/TestSyncer.dll
TestSyncer/obj/Debug/net7.0/TestSyncer.pdb
